html, body {
    max-width: 100%;
    overflow-x: hidden;
}

h1 {
	text-align: center;
	font-family: 'Montserrat';
}

h2 {
	font-family: 'Montserrat';
}

#colorChangeRed {
	color: #bc2405;
}

#ccc a {
	color: #bc2405;
}

#colorChangeOrange {
	color: #f2a91a;
}

#pic {
	width: 240px;
	height: 320px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.emph {
	font-weight: bold;
}

.und {
	text-decoration: underline;
}

.ital {
	font-style: italic;
}

.centerMe {
	text-align: center;
}

.left {
	text-align: left;
}

.container .navbar-header .navbar-brand {
	color: #bcc0c6;
	font-family: 'Montserrat';
	font-size: 25px;
}

#home {
	background-color: #eda61a;
	padding-top: 16%;
    padding-bottom: 16%;
    margin-bottom:30px;
}

#aboutMe {
	background-color: white;
	/*padding-top: 3%;*/
	padding-bottom: 3%;
}

#skills {
	background-color: #eda61a;
	padding-top: 3%;
	padding-bottom: 3%;
}

#work {
	background-color: white;
	padding-top: 3%;
	padding-bottom: 3%;
}

#exp {
	background-color: #eda61a;
	padding-top: 3%;
	padding-bottom: 3%;
}

#achieve {
	background-color: white;
	padding-top: 3%;
	padding-bottom: 3%;
}

#projects {
	background-color: white;
	padding-top: 6%;
	padding-bottom: 3%;
}

#educ {
	background-color: #eda61a;
	padding-top: 3%;
	padding-bottom: 3%;
}

#buttonFooter {
	background-color: #bc2405;
	border: solid #bc2405;
	/*color: rgb(28,31,39);*/
	color: white;
	font-family: 'Montserrat';
	border-radius: 24px;
}

#butSubmit {
	background-color: #bc2405;
	border: solid #bc2405;
	color: white;
	font-family: 'Montserrat';
	border-radius: 5px;
}

#foot {
	font-family: 'Raleway';
	padding-top: 10px;
	padding-bottom: 10px;
}

.customBulletRight {
	display: block;
}

.customBulletRight:before {
    content: "\e080";
    font-family: 'Glyphicons Halflings';
    font-size: 9px;
    float: left;
    margin-top: 4px;
    margin-left: -17px;
    color: rgb(28,31,39);
}

#buttonFooter:hover {
	border: solid #3f3d3e;
	background-color: #3f3d3e;
    color: #bcc0c6;
}


 #tt thead th {
    background-color: rgb(28,31,39) !important;
    color: #bcc0c6 !important;
}

.container .navbar-collapse-collapse .nav .navbar-nav .navbar-right .hoverThis:hover {
	color: black;
}

.down {
	color: rgb(28,31,39);
}

.dropcaps:first-letter {
  margin: 0.08em 0 -0.05em 0;
  padding: 0 0.065em 0 0;
  font-size: 5em;
  line-height: 0.85em;
  float: left;
}

.justify {
	text-align: justify;
}

.hrContact {
	margin-top: 10px;
	margin-bottom: 10px;
}

#tableC {
    width: auto !important;
}

.tableCenter {
	text-align: center;
}

.dontChangeColor {
	color: inherit;
}

.dontChangeColor:hover {
	color: inherit;
}



/*
.navbar-brand,
.navbar-nav li a {
	height: 80px;
    line-height: 200px;
    padding-top: 0 50px;
}*/

/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  /*border-top: 6px solid #eda61a;*/
  border-top: 6px solid #bc2405;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
}

#hrJumbo {
	border-color: rgb(28,31,39);
}