
canvas {
  display: block;
  vertical-align: bottom;
}

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #00356B;
}





#top {
  /*position: relative;*/
  position: absolute;
  text-align: center;
  top: 60px;
  left: 10%;
  right: 10%;
  /*-webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);*/
  color: #fff;
  max-width: 90%;
  padding: 1em 3em;
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0px 0px 2px #131415;
  font-family: 'Montserrat';
  
}

#header h1 {
  font-size: 350%;
}

h1 {
  /*font-size: 2.25em;*/
  font-weight: 700;
  letter-spacing: -1px;
}

#body .news {
  font-size: 85%;
}

#body .more {
  color: #10a040;
}

#body .date {
  color: #75756d;
}

#body .title {
  color: #e8e810;
}

#body {
  position: absolute;
  top: 285px;
  left: 10%;
  right: 10%;
  /*height: 400px;*/
  /*-webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);*/
  color: #fff;
  max-width: 90%;
  padding: 1em 3em;
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0px 0px 2px #131415;
  font-family: 'Montserrat';
}

#footer {
  position: absolute;     /*Insert this for it to show up*/
  /*top: 1505px;*/                /*Ajust this*/
  
  left: 10%;
  right: 10%;
  /*-webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);*/
  color: #fff;
  max-width: 90%;
  padding: 1em 3em;
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0px 0px 2px #131415;
  font-family: 'Montserrat';
  text-align: center;
}

#pseudo {
  position: absolute;     /*Insert this for it to show up*/
  /*top: 2000px;*/                /*Ajust this, add +95 to footer*/
  
  left: 10%;
  right: 10%;
  /*-webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);*/
  color: #fff;
  max-width: 90%;
  padding: 1em 3em;
  text-shadow: 0px 0px 2px #131415;
  font-family: 'Montserrat';
  text-align: center;
}

.custom-bullet li {
    display: block;
    font-size: 85%;
}

.custom-bullet li:before
{
    /*Using a Bootstrap glyphicon as the bullet point*/
    content: "\e080";
    font-family: 'Glyphicons Halflings';
    font-size: 9px;
    float: left;
    margin-top: 4px;
    margin-left: -17px;
    color: #CCCCCC;
}

.red {
  color: red;
}

.circle {
  width: 75px;
  height: 75px;
  -webkit-border-radius: 37px;
  -moz-border-radius: 37px;
  border-radius: 37px;
  background: #fff;
}



#body .logo {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

a {
  color: #e34234;
}

a,
a:visited {
  color: #e34234;
  transition: 0.25s;
}

a:hover,
a:focus {
  color: #ba160c;
}

#pageloader{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; /* center children content horizontally */
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; /* center children content vertically */
    z-index: 10000;
    background: white;
}
    

.spinner {
  width: 70px;
  text-align: center;
    opacity: 1;
    transition: opacity .4s;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

#pageloader.dimissloader{
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s, visibility 0s 1s;
}

