body
{

    font-family: sans-serif;
  }

  h1
  {
    color: blue;
    font-weight: bold;
    font: Arial;
  }

  #contact
  {
    font-weight: bold;
    font-style: italic;
  }

  #picture
  {
    width: 240px;
	height: 320px;
  }

  h2
  {
    margin-top: 4%;
    text-align: center;
    background-color: gray;
    font-variant: small-caps;
    letter-spacing: 4px;
    color: purple;
    font-weight: bold;
  }

  #now
  {
    font-size: x-small;
    color: green;
  }
}
