html, body {
    max-width: 100%;
    overflow-x: hidden;
}

h1 {
	text-align: center;
	font-family: 'Montserrat';
}

h2 {
	font-family: 'Montserrat';
}

h3 {
	font-family: 'Montserrat';
}

#pic {
	/* width: 240px;
	height: 320px; */
	width: 50%;
	height: 50%;
	/* margin-left: auto;
	margin-right: auto; */
	float: right;
	display: block;
	border-radius: 50%;
}

#funkopic {
	width: 80%;
	height: 80%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.emph {
	font-weight: bold;
}

.ital {
	font-style: italic;
}

.centerMe {
	text-align: center;
}

.container .navbar-header .navbar-brand {
	color: #bcc0c6;
	font-family: 'Montserrat';
	font-size: 25px;
}

#home {
	background-color: #bc2405;
	padding-top: 16%;
    padding-bottom: 16%;
    margin-bottom:30px;
	height: 100vh;
}

#main {
	background-color: white;
	padding-top: 3%;
	padding-bottom: 3%;
}

#skills {
	background-color: #eda61a;
	padding-top: 3%;
	padding-bottom: 3%;
}

#work {
	background-color: white;
	padding-top: 3%;
	padding-bottom: 3%;
}

#exp {
	background-color: #eda61a;
	padding-top: 3%;
	padding-bottom: 3%;
}

#achieve {
	background-color: white;
	padding-top: 3%;
	padding-bottom: 3%;
}

#projects {
	background-color: white;
	padding-top: 3%;
	padding-bottom: 3%;
}

#educ {
	background-color: #eda61a;
	padding-top: 3%;
	padding-bottom: 3%;
}

#buttonFooter {
	background-color: #eda61a;
	border: solid #eda61a;
	color: rgb(28,31,39);
	font-family: 'Montserrat';
	border-radius: 24px;
}

#foot {
	font-family: 'Raleway';
	padding-top: 10px;
	padding-bottom: 10px;
}

.customBulletRight {
	display: block;
}

.customBulletRight:before {
    content: "\e080";
    font-family: 'Glyphicons Halflings';
    font-size: 9px;
    float: left;
    margin-top: 4px;
    margin-left: -17px;
    color: rgb(28,31,39);
}

#buttonFooter:hover {
	border: solid #3f3d3e;
	background-color: #3f3d3e;
    color: #bcc0c6;
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #646464;
   color: #bcc0c6;
 }

.table-striped>tbody>tr:nth-child(even)>td, 
.table-striped>tbody>tr:nth-child(even)>th {
   background-color: #3f3d3e;
   color: #bcc0c6;
 }
 
.glyphicon .glyphicon-plus {
    font-size: 10px;
}

 #tt thead th {
    background-color: rgb(28,31,39) !important;
    color: #bcc0c6 !important;
}

.container .navbar-collapse-collapse .nav .navbar-nav .navbar-right .hoverThis:hover {
	color: black;
}

.down {
	color: rgb(28,31,39);
}

.dropcaps:first-letter {
  margin: 0.08em 0 -0.05em 0;
  padding: 0 0.065em 0 0;
  font-size: 5em;
  line-height: 0.85em;
  float: left;
}

.justify {
	text-align: justify;
}

.hrContact {
	margin-top: 10px;
	margin-bottom: 10px;
}

table #tableC {
    width: auto !important;
}

.tableCenter {
	text-align: center;
}

.dontChangeColor {
	color: inherit;
}

#home .dontChangeColor {
	color: inherit;
}

.dontChangeColor:hover {
	color: inherit;
}
 
table th {
    width: auto !important;
}

.coloredLink {
	color: #eda61a;
}

.coloredLink:hover {
	color: #f16d02;
	text-decoration: none;
}

.coloredLinkRev {
	color: #f3f1f0;
}

.coloredLinkRev:hover {
	color: #093cbf;
	text-decoration: none;
}

.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */

}


.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}

.panel-heading .accordion-toggle {
	color: inherit;
	text-decoration: none;
}

.panel-heading .accordion-toggle:hover {
	text-decoration: none;
	color: #bc2405;
}
/*
.navbar-brand,
.navbar-nav li a {
	height: 80px;
    line-height: 200px;
    padding-top: 0 50px;
}*/

/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #bc2405;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
}

#calculator {
	border: 10px solid #33312d;
	border-radius: 2%;
	background-color: rgb(85, 85, 85);
	width: 320px;
	height: 300px;
	padding: 10px;
	display: block;
    justify-content: right;
}

#screen {
	width: 100%;
	height: 75px;
	background-color: #9e9686;
	border: 5px solid #857e6f;
	justify-content: center;
	margin-bottom: 2px;
	color: #786d57; 
	font-family: 'Menlo';
	font-size: 50px;
	text-align: right;
	padding: 2px;
}

#codebtn {
	background-color: #eda61a; 
	border: solid #eda61a; 
	color: rgb(28,31,39); 
	font-family: 'Montserrat'; 
	border: solid 1px black;
	margin-top: 4%;
	width: 90px;
}

#codebtn2 {
	background-color: #eda61a; 
	border: solid #eda61a; 
	color: rgb(28,31,39); 
	font-family: 'Montserrat'; 
	border: solid 1px black;
	margin-top: 4%;
	width: 185px;
}

#orangeLight {
	background-color: #eda61a; 
	border: solid #eda61a; 
	color: rgb(28,31,39); 
	font-family: 'Montserrat'; 
	border: solid 1px black;
	margin-top: 4%;
	width: 100%;
  }

#greenLight {
	background-color: #32a852; 
	border: solid #32a852; 
	color: rgb(28,31,39); 
	font-family: 'Montserrat'; 
	border: solid 1px black;
	margin-top: 4%;
	width: 100%;
  }

#blueLight {
	background-color: #0593ff; 
	border: solid #0593ff; 
	color: rgb(28,31,39); 
	font-family: 'Montserrat'; 
	border: solid 1px black;
	margin-top: 4%;
	width: 100%;
  }

.card {
	background-color: #eb34b1;
	border: 5px solid #523348;
	color: #9807a8;
	font-size: 90px;
	vertical-align: middle;
	text-align: center;
	font: 'Montserrat';
	display: inline-block;
	width: 260px;
	height: 260px;
	margin-right: 50px;
	position: relative;
}

#board {
	/* width: 420px; */
}

.non-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.for-caption {
	position: absolute;
	bottom:0;
	left:0;
	width: 250px;
	height: 50px;
	background-color: rgba(255, 255, 255, 0.7); /* Adjust the alpha value for transparency */
	z-index: 2;
}

.img-caption {
	position: absolute;
	bottom: -13%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #000; /* Set the caption color */
	font-size: 40px; /* Set the font size */
	z-index: 3;
	font-weight: bold;
}

#titler {
	margin:auto;
	display:inline;
	/* width: 880px; */
	width: 100%;
	float:left;
	height:100px;
	overflow: hidden;
	margin-top: 1%;
	background-color: #6ab3db;
	border: 5px solid #523348;
	font-weight: bold;
	vertical-align: middle;
	text-align: center;
	font-size: 65px;
}

#timer {
	margin:auto;
	display:inline;
	/* width: 880px; */
	width: 30%;
	float:left;
	height:65px;
	overflow: hidden;
	margin-top: 1%;
	background-color: #6ab3db;
	border: 5px solid #523348;
	font-weight: bold;
	vertical-align: middle;
	text-align: center;
	font-size: 40px;
}

/* #playing {
	font-size: 30px;
	font-weight: bold;
	width: 30%;
	float:left;
} */

#diff_q {
	margin:auto;
	display:inline;
	/* width: 880px; */
	width: 30%;
	float:left;
	height:65px;
	overflow: hidden;
	margin-top: 1%;
	background-color: #6ab3db;
	border: 5px solid #523348;
	font-weight: bold;
	vertical-align: middle;
	text-align: center;
	font-size: 40px;
}

#playing {
	border: 5px solid #523348;
	display: flex;
	float:left;
	margin-top: 1%;
	width: 30%; /* Adjust the width of the container as needed */
	height: 65px;
}

.button {
	flex: 1;
	height: 65px; /* Adjust the height of the buttons as needed */
	border: none;
	cursor: pointer;
	outline: none;
	font-size: 20px;
	font-weight: bold;
	height:100%;
}

.active {
	background-color: darkblue;
	color: white;
}

.inactive {
	background-color: #6ab3db;
	color: black;
}