#term {
    margin-top: -2%;
}

.alert {
    color: red;
}

table, th, td {
    border: 1px solid;
}

#dates {
    width: 700px;
}

.tableWidthSpan100 {
    width: 100%;
}

#dates td {
    padding: 1%;
}