#term {
    margin-top: -2%;
}

.alert {
    color: red;
}

.goodNews {
    color: #098239;
}

table, th, td {
    border: 1px solid;
}

#dates {
    width: 700px;
}

.tableWidthSpan100 {
    width: 100%;
}

#dates td {
    padding: 1%;
}

.inline {
    background-color: #c9c9c9; 
    padding: 2px 3px; 
    border-radius: 3px; 
    /* font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace; Monospace font */
}

p {
    line-height: 1.5;
}

code[class*="language-"],
pre[class*="language-"] {
  font-family: 'Courier New', monospace;
  font-size: 14px;
}

pre.line-numbers {
	position: relative;
	padding-left: 3.8em;
	counter-reset: linenumber;
}

pre.line-numbers > code {
	position: relative;
    white-space: inherit;
}

.line-numbers .line-numbers-rows {
	position: absolute;
	pointer-events: none;
	top: 0;
	font-size: 100%;
	left: -3.8em;
	width: 3em; /* works for line-numbers below 1000 lines */
	letter-spacing: -1px;
	border-right: 1px solid #999;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}

.line-numbers-rows > span {
    pointer-events: none;
    display: block;
    counter-increment: linenumber;
}

.line-numbers-rows > span:before {
    content: counter(linenumber);
    color: #999;
    display: block;
    padding-right: 0.8em;
    text-align: right;
}

.copy-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #999;
    cursor: pointer;
}
.copy-icon:hover {
    color: #333;
}

.copied-text {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    color: #999;
}

.regularBox {
    border: 1px solid;
    padding: 10px;
    margin-left: 10%;
    margin-right: 10%;
}



/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #eee;
    /* color: #444; */
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1em;
    font-weight: bold;
    font-family: "Times New Roman";
}

#current {
    background-color: #ccc;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
    background-color: #ccc;
}



/* Style the collapsible content. Note: hidden by default */
.content {
    padding: 0 18px;
    display: none;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}

.current {
    padding: 0 18px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}



.collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}



.tabs {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.tab-button {
    padding: 10px 20px;
    background-color: lightgray;
    border: none;
    cursor: pointer;
}

.tab-button.active {
    background-color: dodgerblue;
    color: white;
}

.tab-content {
    display: none;
    padding: 10px;
    border: 1px solid #ccc;
}

.tab-content.active {
    display: block;
}